*{
    padding:0;
    margin:0;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
a{
    color: #160F29;
    text-decoration: none;
}
a:visited{
    color: #368F8B;
}
ul{
    list-style: none;    
}
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
body{
    font: normal 16px "Open Sans", sans-serif;
}
/*
    CABECERA
*/
.page-header{
    text-align:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* Los selectores estan seleccionado el h1 */
#page-title{
    font-family: "Raleway", Times, serif;
}

.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.page-header h1{
    font-family: Arial, Helvetica, sans-serif;   
}
/* Pero como se puede apreciar solo se tiene en cuenta el selector de id (#) debido a que tiene una mayor relevancia por su superioridad en la especificidad */

/* Fin del experimento */
.page-header nav{
    width: 60%;
}
.page-header nav ul{
    display: flex;
    justify-content: space-between;
}
.page-header nav ul li a{
    font-weight: 700;
    text-transform: uppercase;
    background: #3f57e0;
    padding: 1.5rem 2rem;
    color: #fff;
    border-radius: 5px;
}
.page-header nav ul li:first-child a{
    background: #e03faa;
}
.page-header nav ul li:nth-child(2) a{
    background: coral;
}
.page-header nav ul li:last-child a{
    background: #e03faa;
}