:root{
    --blanco: #ffffff;
    --negro: #000000;

    --color-primario: #DA4167;
    --color-secundario: #3D2645;

    --color-font-title: #F0EFF4;

}

*,
*::before,
*::after{
    box-sizing: inherit;
}
*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{   
    font: normal normal 1.6rem "Open Sans", sans-serif;
    background: rgba(0, 0, 0, .75);
    display: grid;
    place-content: center;
    height: calc(100vh - 250px);
    width: 100vw;
}
section{
}
section article{
    position: relative;
    max-width: 400px;
    height: 100%;
    padding: 2rem;
}
section article::before,
section article::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 208.333333%;
    top: 0;
    left:0;
    background: var(--blanco);
    box-shadow: 2px 3px 15px rgba(0, 0, 0, .75);
    border-radius: 1.5rem;
    transform: rotateZ(0);
    transition: transform .3s ease-in-out;
    z-index: -3;
}
section article:hover::before{
    transform: rotateZ(10deg);
    z-index: -2;
}
section article:hover::after{
    transform: rotateZ(20deg);
}
section article h2{
    background: var(--color-primario);
    color: var(--color-font-title);
    display: inline;
    padding: 0 1.2rem;
    line-height: 3.9rem;
}
section article p{
    margin-top: 1.2rem;
    color: var(--blanco);
}
section article figure{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
section article figure::before{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .3);
    border-radius: 1.5rem;
}
section article figure img{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    display: block;
}
section article figure figcaption{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background: var(--color-primario);
    color: var(--color-font-title);
    z-index: 2;
    text-align: center;
    padding: 1.2rem;
}
section article figure figcaption span{
    font-weight: 700;
    display: block;
}